/*'OFFCANVAS MENU
=============================================== */

			.container-smooth{max-width:1170px}@media (min-width:1px){.container-smooth{width:auto}}.btn-labeled{padding-top:0;padding-bottom:0}.btn-label{position:relative;background:0 0;background:rgba(0,0,0,.15);display:inline-block;padding:6px 12px;left:-12px;border-radius:3px 0 0 3px}.btn-label.btn-label-right{left:auto;right:-12px;border-radius:0 3px 3px 0}.btn-lg .btn-label{padding:10px 16px;left:-16px;border-radius:5px 0 0 5px}.btn-lg .btn-label.btn-label-right{left:auto;right:-16px;border-radius:0 5px 5px 0}.btn-sm .btn-label{padding:5px 10px;left:-10px;border-radius:2px 0 0 2px}.btn-sm .btn-label.btn-label-right{left:auto;right:-10px;border-radius:0 2px 2px 0}.btn-xs .btn-label{padding:1px 5px;left:-5px;border-radius:2px 0 0 2px}.btn-xs .btn-label.btn-label-right{left:auto;right:-5px;border-radius:0 2px 2px 0}.nav-tabs-bottom{border-bottom:0;border-top:1px solid #ddd}.nav-tabs-bottom>li{margin-bottom:0;margin-top:-1px}.nav-tabs-bottom>li>a{border-radius:0 0 4px 4px}.nav-tabs-bottom>li>a:hover,.nav-tabs-bottom>li>a:focus,.nav-tabs-bottom>li.active>a,.nav-tabs-bottom>li.active>a:hover,.nav-tabs-bottom>li.active>a:focus{border:1px solid #ddd;border-top-color:transparent}.nav-tabs-left{border-bottom:0;border-right:1px solid #ddd}.nav-tabs-left>li{margin-bottom:0;margin-right:-1px;float:none}.nav-tabs-left>li>a{border-radius:4px 0 0 4px;margin-right:0;margin-bottom:2px}.nav-tabs-left>li>a:hover,.nav-tabs-left>li>a:focus,.nav-tabs-left>li.active>a,.nav-tabs-left>li.active>a:hover,.nav-tabs-left>li.active>a:focus{border:1px solid #ddd;border-right-color:transparent}.row>.nav-tabs-left{padding-right:0;padding-left:15px;margin-right:-1px;position:relative;z-index:1}.row>.nav-tabs-left+.tab-content{border-left:1px solid #ddd}.nav-tabs-right{border-bottom:0;border-left:1px solid #ddd}.nav-tabs-right>li{margin-bottom:0;margin-left:-1px;float:none}.nav-tabs-right>li>a{border-radius:0 4px 4px 0;margin-left:0;margin-bottom:2px}.nav-tabs-right>li>a:hover,.nav-tabs-right>li>a:focus,.nav-tabs-right>li.active>a,.nav-tabs-right>li.active>a:hover,.nav-tabs-right>li.active>a:focus{border:1px solid #ddd;border-left-color:transparent}.row>.nav-tabs-right{padding-left:0;padding-right:15px}.navmenu,.navbar-offcanvas{width:300px;height:auto;border-width:1px;border-style:solid;border-radius:4px}.navmenu-fixed-left,.navmenu-fixed-right,.navbar-offcanvas{position:fixed;z-index:1030;top:0;bottom:0;overflow-y:auto;border-radius:0}.navmenu-fixed-left,.navbar-offcanvas.navmenu-fixed-left{left:0;right:auto;border-width:0 1px 0 0}.navmenu-fixed-right,.navbar-offcanvas{left:auto;right:0;border-width:0 0 0 1px}.navmenu-nav{margin-bottom:10px}.navmenu-nav.dropdown-menu{position:static;margin:0;padding-top:0;float:none;border:none;-webkit-box-shadow:none;box-shadow:none;border-radius:0}.navbar-offcanvas .navbar-nav{margin:0}@media (min-width:768px){.navbar-offcanvas{width:auto;border-top:0;box-shadow:none}.navbar-offcanvas.offcanvas{position:static;display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important}.navbar-offcanvas .navbar-nav.navbar-left:first-child{margin-left:-15px}.navbar-offcanvas .navbar-nav.navbar-right:last-child{margin-right:-15px}.navbar-offcanvas .navmenu-brand{display:none}}.navmenu-brand{display:block;font-size:18px;line-height:20px;padding:10px 15px;margin:10px 0}.navmenu-brand:hover,.navmenu-brand:focus{text-decoration:none}.navmenu-default,.navbar-default .navbar-offcanvas{background-color:#f8f8f8;border-color:#e7e7e7}.navmenu-default .navmenu-brand,.navbar-default .navbar-offcanvas .navmenu-brand{color:#777}.navmenu-default .navmenu-brand:hover,.navbar-default .navbar-offcanvas .navmenu-brand:hover,.navmenu-default .navmenu-brand:focus,.navbar-default .navbar-offcanvas .navmenu-brand:focus{color:#5e5e5e;background-color:transparent}.navmenu-default .navmenu-text,.navbar-default .navbar-offcanvas .navmenu-text{color:#777}.navmenu-default .navmenu-nav>.dropdown>a:hover .caret,.navbar-default .navbar-offcanvas .navmenu-nav>.dropdown>a:hover .caret,.navmenu-default .navmenu-nav>.dropdown>a:focus .caret,.navbar-default .navbar-offcanvas .navmenu-nav>.dropdown>a:focus .caret{border-top-color:#333;border-bottom-color:#333}.navmenu-default .navmenu-nav>.open>a,.navbar-default .navbar-offcanvas .navmenu-nav>.open>a,.navmenu-default .navmenu-nav>.open>a:hover,.navbar-default .navbar-offcanvas .navmenu-nav>.open>a:hover,.navmenu-default .navmenu-nav>.open>a:focus,.navbar-default .navbar-offcanvas .navmenu-nav>.open>a:focus{background-color:#e7e7e7;color:#555}.navmenu-default .navmenu-nav>.open>a .caret,.navbar-default .navbar-offcanvas .navmenu-nav>.open>a .caret,.navmenu-default .navmenu-nav>.open>a:hover .caret,.navbar-default .navbar-offcanvas .navmenu-nav>.open>a:hover .caret,.navmenu-default .navmenu-nav>.open>a:focus .caret,.navbar-default .navbar-offcanvas .navmenu-nav>.open>a:focus .caret{border-top-color:#555;border-bottom-color:#555}.navmenu-default .navmenu-nav>.dropdown>a .caret,.navbar-default .navbar-offcanvas .navmenu-nav>.dropdown>a .caret{border-top-color:#777;border-bottom-color:#777}.navmenu-default .navmenu-nav.dropdown-menu,.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu{background-color:#e7e7e7}.navmenu-default .navmenu-nav.dropdown-menu>.divider,.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu>.divider{background-color:#f8f8f8}.navmenu-default .navmenu-nav.dropdown-menu>.active>a,.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu>.active>a,.navmenu-default .navmenu-nav.dropdown-menu>.active>a:hover,.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu>.active>a:hover,.navmenu-default .navmenu-nav.dropdown-menu>.active>a:focus,.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu>.active>a:focus{background-color:#d7d7d7}.navmenu-default .navmenu-nav>li>a,.navbar-default .navbar-offcanvas .navmenu-nav>li>a{color:#777}.navmenu-default .navmenu-nav>li>a:hover,.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover,.navmenu-default .navmenu-nav>li>a:focus,.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus{color:#333;background-color:transparent}.navmenu-default .navmenu-nav>.active>a,.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,.navmenu-default .navmenu-nav>.active>a:hover,.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,.navmenu-default .navmenu-nav>.active>a:focus,.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus{color:#555;background-color:#e7e7e7}.navmenu-default .navmenu-nav>.disabled>a,.navbar-default .navbar-offcanvas .navmenu-nav>.disabled>a,.navmenu-default .navmenu-nav>.disabled>a:hover,.navbar-default .navbar-offcanvas .navmenu-nav>.disabled>a:hover,.navmenu-default .navmenu-nav>.disabled>a:focus,.navbar-default .navbar-offcanvas .navmenu-nav>.disabled>a:focus{color:#ccc;background-color:transparent}.navmenu-inverse,.navbar-inverse .navbar-offcanvas{background-color:#222;border-color:#080808}.navmenu-inverse .navmenu-brand,.navbar-inverse .navbar-offcanvas .navmenu-brand{color:#999}.navmenu-inverse .navmenu-brand:hover,.navbar-inverse .navbar-offcanvas .navmenu-brand:hover,.navmenu-inverse .navmenu-brand:focus,.navbar-inverse .navbar-offcanvas .navmenu-brand:focus{color:#fff;background-color:transparent}.navmenu-inverse .navmenu-text,.navbar-inverse .navbar-offcanvas .navmenu-text{color:#999}.navmenu-inverse .navmenu-nav>.dropdown>a:hover .caret,.navbar-inverse .navbar-offcanvas .navmenu-nav>.dropdown>a:hover .caret,.navmenu-inverse .navmenu-nav>.dropdown>a:focus .caret,.navbar-inverse .navbar-offcanvas .navmenu-nav>.dropdown>a:focus .caret{border-top-color:#fff;border-bottom-color:#fff}.navmenu-inverse .navmenu-nav>.open>a,.navbar-inverse .navbar-offcanvas .navmenu-nav>.open>a,.navmenu-inverse .navmenu-nav>.open>a:hover,.navbar-inverse .navbar-offcanvas .navmenu-nav>.open>a:hover,.navmenu-inverse .navmenu-nav>.open>a:focus,.navbar-inverse .navbar-offcanvas .navmenu-nav>.open>a:focus{background-color:#080808;color:#fff}.navmenu-inverse .navmenu-nav>.open>a .caret,.navbar-inverse .navbar-offcanvas .navmenu-nav>.open>a .caret,.navmenu-inverse .navmenu-nav>.open>a:hover .caret,.navbar-inverse .navbar-offcanvas .navmenu-nav>.open>a:hover .caret,.navmenu-inverse .navmenu-nav>.open>a:focus .caret,.navbar-inverse .navbar-offcanvas .navmenu-nav>.open>a:focus .caret{border-top-color:#fff;border-bottom-color:#fff}.navmenu-inverse .navmenu-nav>.dropdown>a .caret,.navbar-inverse .navbar-offcanvas .navmenu-nav>.dropdown>a .caret{border-top-color:#999;border-bottom-color:#999}.navmenu-inverse .navmenu-nav.dropdown-menu,.navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu{background-color:#080808}.navmenu-inverse .navmenu-nav.dropdown-menu>.divider,.navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu>.divider{background-color:#222}.navmenu-inverse .navmenu-nav.dropdown-menu>.active>a,.navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu>.active>a,.navmenu-inverse .navmenu-nav.dropdown-menu>.active>a:hover,.navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu>.active>a:hover,.navmenu-inverse .navmenu-nav.dropdown-menu>.active>a:focus,.navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu>.active>a:focus{background-color:#000}.navmenu-inverse .navmenu-nav>li>a,.navbar-inverse .navbar-offcanvas .navmenu-nav>li>a{color:#999}.navmenu-inverse .navmenu-nav>li>a:hover,.navbar-inverse .navbar-offcanvas .navmenu-nav>li>a:hover,.navmenu-inverse .navmenu-nav>li>a:focus,.navbar-inverse .navbar-offcanvas .navmenu-nav>li>a:focus{color:#fff;background-color:transparent}.navmenu-inverse .navmenu-nav>.active>a,.navbar-inverse .navbar-offcanvas .navmenu-nav>.active>a,.navmenu-inverse .navmenu-nav>.active>a:hover,.navbar-inverse .navbar-offcanvas .navmenu-nav>.active>a:hover,.navmenu-inverse .navmenu-nav>.active>a:focus,.navbar-inverse .navbar-offcanvas .navmenu-nav>.active>a:focus{color:#fff;background-color:#080808}.navmenu-inverse .navmenu-nav>.disabled>a,.navbar-inverse .navbar-offcanvas .navmenu-nav>.disabled>a,.navmenu-inverse .navmenu-nav>.disabled>a:hover,.navbar-inverse .navbar-offcanvas .navmenu-nav>.disabled>a:hover,.navmenu-inverse .navmenu-nav>.disabled>a:focus,.navbar-inverse .navbar-offcanvas .navmenu-nav>.disabled>a:focus{color:#444;background-color:transparent}.alert-fixed-top,.alert-fixed-bottom{position:fixed;width:100%;z-index:1035;border-radius:0;margin:0;left:0}@media (min-width:992px){.alert-fixed-top,.alert-fixed-bottom{width:992px;left:50%;margin-left:-496px}}.alert-fixed-top{top:0;border-width:0 0 1px}@media (min-width:992px){.alert-fixed-top{border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-width:0 1px 1px}}.alert-fixed-bottom{bottom:0;border-width:1px 0 0}@media (min-width:992px){.alert-fixed-bottom{border-top-right-radius:4px;border-top-left-radius:4px;border-width:1px 1px 0}}.offcanvas{display:none}.offcanvas.in{display:block}@media (max-width:767px){.offcanvas-xs{display:none}.offcanvas-xs.in{display:block}}@media (max-width:991px){.offcanvas-sm{display:none}.offcanvas-sm.in{display:block}}@media (max-width:1199px){.offcanvas-md{display:none}.offcanvas-md.in{display:block}}.offcanvas-lg{display:none}.offcanvas-lg.in{display:block}.canvas-sliding{-webkit-transition:top .35s,left .35s,bottom .35s,right .35s;transition:top .35s,left .35s,bottom .35s,right .35s}.offcanvas-clone{height:0!important;width:0!important;overflow:hidden!important;border:none!important;margin:0!important;padding:0!important;position:absolute!important;top:auto!important;left:auto!important;bottom:0!important;right:0!important;opacity:0!important}.table.rowlink td:not(.rowlink-skip),.table .rowlink td:not(.rowlink-skip){cursor:pointer}.table.rowlink td:not(.rowlink-skip) a,.table .rowlink td:not(.rowlink-skip) a{color:inherit;font:inherit;text-decoration:inherit}.table-hover.rowlink tr:hover td,.table-hover .rowlink tr:hover td{background-color:#cfcfcf}.btn-file{overflow:hidden;position:relative;vertical-align:middle}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);font-size:23px;height:100%;width:100%;direction:ltr;cursor:pointer}.fileinput{margin-bottom:9px;display:inline-block}.fileinput .form-control{padding-top:7px;padding-bottom:5px;display:inline-block;margin-bottom:0;vertical-align:middle;cursor:text}.fileinput .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center}.fileinput .thumbnail>img{max-height:100%}.fileinput .btn{vertical-align:middle}.fileinput-exists .fileinput-new,.fileinput-new .fileinput-exists{display:none}.fileinput-inline .fileinput-controls{display:inline}.fileinput-filename{vertical-align:middle;display:inline-block;overflow:hidden}.form-control .fileinput-filename{vertical-align:bottom}.fileinput.input-group{display:table}.fileinput.input-group>*{position:relative;z-index:2}.fileinput.input-group>.btn-file{z-index:1}.fileinput-new.input-group .btn-file,.fileinput-new .input-group .btn-file{border-radius:0 4px 4px 0}.fileinput-new.input-group .btn-file.btn-xs,.fileinput-new .input-group .btn-file.btn-xs,.fileinput-new.input-group .btn-file.btn-sm,.fileinput-new .input-group .btn-file.btn-sm{border-radius:0 3px 3px 0}.fileinput-new.input-group .btn-file.btn-lg,.fileinput-new .input-group .btn-file.btn-lg{border-radius:0 6px 6px 0}.form-group.has-warning .fileinput .fileinput-preview{color:#8a6d3b}.form-group.has-warning .fileinput .thumbnail{border-color:#faebcc}.form-group.has-error .fileinput .fileinput-preview{color:#a94442}.form-group.has-error .fileinput .thumbnail{border-color:#ebccd1}.form-group.has-success .fileinput .fileinput-preview{color:#3c763d}.form-group.has-success .fileinput .thumbnail{border-color:#d6e9c6}.input-group-addon:not(:first-child){border-left:0}



			.navmenu-inverse .navmenu-nav.dropdown-menu, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu{
			background-color: darken($brand-dark, 20%);
				color: #fff;
			}


			.navmenu-inverse, .navbar-inverse .navbar-offcanvas {
			background-color: darken($brand-dark, 15%);
			border-color: #080808;
			}


			.navmenu-inverse .navmenu-nav > .active > a, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a, 
			.navmenu-inverse .navmenu-nav > .active > a:hover, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a:hover, 
			.navmenu-inverse .navmenu-nav > .active > a:focus, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a:focus{
				background-color: darken($brand-medium, 20%);
				color: #fff;
			}




			.navmenu-inverse .navmenu-nav > .open > a, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a,
			.navmenu-inverse .navmenu-nav > .open > a:hover, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a:hover,
			.navmenu-inverse .navmenu-nav > .open > a:focus, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > .open > a:focus{
				background-color: $brand-medium;
				color: #fff;
			  }


			.navmenu-inverse .navmenu-nav > li > a:hover, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > li > a:hover, 
			.navmenu-inverse .navmenu-nav > li > a:focus, 
			.navbar-inverse .navbar-offcanvas .navmenu-nav > li > a:focus{
				background-color: darken($brand-medium, 5%);
			}


			  

			.navmenu .navbar-brand{ display: inline-block; width: 100%}





/*'END OFFCANVAS MENU
=============================================== */







//style para os exemplos
section.simple-group{ padding: 120px 0}


//Somente por causa do  nav fixed
body{
	//padding-top: 50px;
}
s


.hr-line {
   margin: 30px 0;
  display: block;
  width: 100%;
}
 

 



// Não apagar .hide-text =)
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}








/*'Mixins
======================================= */
// Cross border-radius
	@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	     -moz-border-radius: $radius;
	      -ms-border-radius: $radius;
	          border-radius: $radius;
	}

 // Cross browser opacity
	 @mixin opacity($opacity) {
	  	opacity: $opacity;
	    $opacity-ie: $opacity * 100;
	    filter: alpha(opacity=$opacity-ie); //IE8
	}

 



	 

	.block-campaign, 
	.main-menu a,
	.transition{   transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s;  -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; }
     .no-transition{transition:none 0s ease 0s; -ms-transition:none 0s ease 0s;  -webkit-transition:none 0s ease 0s; -moz-transition:none 0s ease 0s; -o-transition:none 0s ease 0s }



 

/*'ICONS
=============================================== */
		//esses tamanhos são somente para o styleguide, 
		// colocar as larguras somente no codigo

		.icon-large{ width: 132px; height: 132px; }
		.icon-medium{ width: 60px; height: 60px; }
		.icon-xsmall{ width: 16px; height: 16px; }

		.icon{
			display: inline-block;
 			background-position: center center;
			vertical-align: middle;

			&.icon-login{ background-image: url("../images/icons/icon-login.png");}
			&.icon-register{background-image: url("../images/icons/icon-register.png");}
		} 


		.icon{ display: inline-block; background-size: cover; background-repeat: no-repeat; margin-right: 10px; }

		.icon-cidadao{background-image: url("../images/icons/icon-cidadao.png");}
		.icon-ponto-de-coleta{background-image: url("../images/icons/icon-ponto-de-coleta.png");}
		.icon-incentivador{background-image: url("../images/icons/icon-incentivador.png");}
		.icon-payment{background-image: url("../images/icons/icon-payment.png");}





		.icon-cardboard-box{ background-image: url("../images/icons/icon-cardboard-box.png");}
		.icon-paper{ background-image: url("../images/icons/icon-paper.png");}
 		.icon-book{ background-image: url("../images/icons/icon-book.png");}
		.icon-package{ background-image: url("../images/icons/icon-package.png");}
		.icon-other{ background-image: url("../images/icons/icon-other.png");}



		.social-media-campaign{
					margin: 0; 
					padding: 0;
					float: left;

					li{display: inline-block;margin-top: 5px;}
					.icon-social-campaign{

						padding:0;
						width: 25px; 
						height: 25px; 
		 				float: left; 
						border: 1px solid #ccc;
				 		background-repeat: no-repeat;
						background-position:center center;
						margin-right: 5px;
						@extend .hide-text;
						@include border-radius(50%); 
						@include opacity(0.7);
						@include transition(all .5s ease);
						&:hover{@include opacity(1);}
					}
						.icon-social-twitter{background-image: url("../images/icons/icon-social-twitter.png");}
						.icon-social-linkedin{background-image: url("../images/icons/icon-social-linkedin.png");}
						.icon-social-youtube{background-image: url("../images/icons/icon-social-youtube.png");}
						.icon-social-instagram{background-image: url("../images/icons/icon-social-instagram.png");}
						.icon-social-facebook{background-image: url("../images/icons/icon-social-facebook.png");}
				}



		 




/*'BRAND
=============================================== */
	.brand-primary{ background-image: url("../images/brand/brand-primary.svg"); background-size: cover; background-repeat: no-repeat; display: block;}
	.brand-secundary{ background-image: url("../images/brand/brand-secundary.svg");background-size: cover;background-repeat: no-repeat; display: block;}

	.brand-large{ width: 280px; height: 110px; display: block;  }
	.brand-medium{ width: 179px; height: 69px; display: block;}
	.brand-small{ width: 88px; height: 33px; display: block;}

	.brand-labbo{ width: 40px; height: 14px; background-image: url("../images/brand/brand-labbo.png"); background-size: cover; background-repeat: no-repeat; display: block;}


/*'BACKGROUND
=============================================== */
	.background-primary{ 
		background-image: url("../images/background/background-primary.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}





/*'Tipografy
======================================= */
	.title-section{
		font-size: 28px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 100;
		color: $brand-dark;

		//estilo
		padding: 10px 0;

		strong{ font-weight: 700}
	}

	.title-section-secundary{
		background: $brand-medium;
 		width: 100%;
		color: #fff;
		font-weight: 100;
		text-transform: uppercase;
		padding: 10px 10px;
		font-size: 20px;
		border-radius: 20px;
		padding-left: 20px;
	}



.box-message{ 
	color: $brand-dark;
	background: #DFDFD0;
	padding:20px;
	@include border-radius(15px 0 0 0); 

}



/*'NAVBAR
=============================================== */
	//.navbar-brand { padding: 7px 15px; }

	.navbar-brand{
		 .brand-primary,
		 .brand-secundary{margin-top: -7px;}
	}



/*'HEADER
=============================================== */
	.block-header-primary{  
		height-min: 280px; 
		background-attachment: fixed; 
		position: relative; 
	}


	/* ---- FORM PESQUISA----- */
		.block-search-component{
			width: 100%;
			display: inline-block;

 			.form-search{
 				position: relative;
 				margin-bottom: 20px;
 				z-index: 1000; 
 				&:before{}
			    &:after{}

 				.fa{
	 				position: absolute;
					right: 23px;
					font-size: 26px;
					color: #ccc;
					top: 8px;
				}

 				.input-search{ 
 				font-size: 18px;
				background: #fff;
				height: 44px;
				border-radius: 25px;
				padding-left: 20px;
				font-style: italic;
				font-weight: 400;
				}
 					//estilização do placeholder
					::-webkit-input-placeholder {font-weight: 100;}
					:-moz-placeholder  {font-weight: 100;}
					::-moz-placeholder {font-weight: 100;}
					:-ms-input-placeholder  {font-weight: 100;}

 			}
			.form-group{}
		}










/* ------- BLOCO NAVIGATION ACCESS ------- */
	.block-navigation-access{
		border-top: 10px solid $brand-light;
		z-index: 1000;
		position: relative;


		.navigation-access-list{ 
			list-style: none; 
			margin: 0;
			padding: 0;
			
			background-image: url("../images/background/background-navigation-access-list.png");
			background-position: top center;
			background-repeat: no-repeat;

			width: 220px;
			text-align: center;
			padding-top: 5px;

			float: right;
	 	}
		.navigation-access-list-item{
			display: inline-block;
		 	font-size: 14px;
		 	margin-right: 10px;
		 	height: 40px;


		 	a{  
		 		@include opacity(0.7);

		 		&:hover{
		 			@include opacity(1);
		 			text-decoration: none}

		 		.fa{margin-right: 5px;}	
		 	}
 
		 	a:focus{outline: none; }

			.icon{
				float: left;
				margin-top: 1px;
				margin-right: 2px;

				//tamanho por contexto
			 	width: 16px;
			 	height: 16px;
			}

		}

	}

/* ------- END BLOCO NAVIGATION ACCESS ------- */

 

/* ------- MODAL LOGIN ------- */

.modal-default{
	.modal-dialog{
		.modal-title{}
		.modal-content{
			.modal-header{

			}
				.modal-body{padding: 15px 40px;
					.icon{
						width: 130px;
						height: 130px;
						margin: 0 auto;
						display: block;
					}

				 }	
		}
	}

	.inverse{color: #fff;
		a{ color: #fff}
	}


	.brand-modal-box{padding: 40px 0 0}
	.brand-modal{ margin: 0 auto}
}



.modal-login{
	.modal-dialog { width: 480px;}
}



/*'FOOTER
=============================================== */
	.block-footer-primary {
		 background: $brand-medium;
		 position: relative;
		 padding: 60px 0 130px 0;

		.title{ 
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;

			border-bottom: 1px dotted;
			padding-bottom: 15px;
			margin-bottom: 20px;
		}	

		.list-links{ 
			color:  $brand-dark; padding-left: 20px;

			li{ margin-bottom: 15px;
				&:last-child{margin-bottom: 0;}
			}
			a{ 
				@include opacity(0.8);
				color: #fff; 
				font-weight: 100; 
				display: block;
				&:hover{@include opacity(1);}
			}
		}

	}

	 .block-footer-primary:after{ 
	 	content: "";
	 	height: 72px;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;

		background-image: url("../images/background/background-flowes-pattern.png");
 		background-repeat: no-repeat;
		background-position: top center;
	 }

	.block-footer-secundary { 
		background: $brand-dark; padding: 10px 0;

		.brand-labbo{ 
			float: right; 
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			@include opacity(0.7);

			&:hover{@include opacity(1);}
			} 
	}











/* 'block-campaign 
============================================ */






 /*!
 * Yamm!
 * Yet another megamenu for Bootstrap
 * http://geedmo.github.com/yamm
 *
 * https://github.com/geedmo
 */
.yamm .nav,
.yamm .dropup,
.yamm .dropdown,
.yamm .collapse {
  position: static;
}
.yamm .navbar-inner,
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
left: 0;
margin: 0px;
/* margin-top: -4px; */
background: transparent;
padding: 0;
border-radius: 0;
border: none;
}
.yamm .dropdown-menu > li {   display: block; }
.yamm .dropdown-submenu .dropdown-menu {left: 100%; }
.yamm .nav.pull-right .dropdown-menu {right: 0; }
.yamm .yamm-content { padding: 20px 30px;  *zoom: 1; }
.yamm .yamm-content:before,
.yamm .yamm-content:after {   display: table;  content: "";  line-height: 0; }
.yamm .yamm-content:after {   clear: both; }
.yamm.navbar .nav > li > .dropdown-menu:after,
.yamm.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.yamm .dropdown.yamm-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}
// @media (max-width: 969px) {
//   .yamm .dropdown.yamm-fullwidth .dropdown-menu {
//     width: auto;
//   }
//   .yamm .yamm-content {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .yamm .dropdown-menu > li > ul {
//     display: block;
//   }
// }





.menu-filter-campaign{
 	background: #D6DAC5;
	display: inline-block;
	width: 100%;
	position: relative;

	.container-filter-campaign-list{
		margin: 0;
		padding: 10px 15px 0;
		list-style: none;

		.filter-campaign-item{
				display: inline-block;
				width: 14%;
				text-align: center;
				border: 1px solid #ccc;
				border-radius: 10px 10px 0 0;
				background: #999;
				font-size: 18px;
				cursor: pointer;
 

				.fluid-grid{padding: 0}

				&.open:before{ 
				content: "";
				position: absolute;
				bottom: 0px;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-bottom: 12px solid #fff;
				margin-left: -12px;
 				}


				&.papeis{background: $color-papel; }
				&.plastico{ background: $color-plastico;}
				&.vidro{ background: $color-vidro;}
				&.metais{ background: $color-metais;}
				&.eletronicos{ background: $color-eletronicos;}
				&.perigosos{ background: $color-perigosos;}
				&.outros{ background: $color-outros;}
				


				a{
					display: block;
					color: #fff;
					padding: 10px;
					

					&:hover, .open{
						text-decoration: none;
						opacity: 1;
					}
				}
			}

		
	}

  


		.filter-campaign-content-item {
			background: #fff;
			text-align: center;
			padding: 0;
			z-index: 2000;
			position: relative;
			margin-top: -2px;
			width: 100%;
			border-radius: 10px 10px 0 0;
  
			&.active{display: inline-block;}


			&>div{padding: 0}

			.box-item{
				padding: 10px 0;
				border: 1px solid transparent;
				&.active,&:hover{ 
					border-color: #ccc;
					background: #eee;
					cursor: pointer;
				}
			}

			h4{ 
				color: $brand-default;
				font-size: 16px;
			}

			p{
				font-size: 13px;
				font-style: italic;
				line-height: 1;
				color: #888;
			}

		}









		
	}

 






















	.container-blocks-campaign{ padding: 20px 0}

	.block-campaign-component{

		.block-campaign-heading,
		.block-campaign-body,
		.block-campaign-footer{display: inline-block; width: 100%;}
 
	
		display: inline-block;
		background: #fff;
		padding: 20px;
		border: 1px solid #ccc;
		margin-bottom: 30px; 

		.block-campaign-heading{
			position: relative;
 			.brand-sponsor{
				width: 55px;
				display: inline-block;
				height: 55px;
				overflow: hidden;
				float: left;
				@include border-radius(50%); 
				img{ width: 100%}
			}
			.name-campaign{ 
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 900;
				float: left;
				margin-left: 10px;
				width: 78%;
			}
			.name-campaign-two-lines{ 
				margin-top: 12px;
			}
		}

		
 		.resume-campaign{
 		font-size: 13px;
 		line-height: 20px;
 		padding: 20px 0;
 		 }

		.block-resume-product{
			background: $brand-light;
			display: inline-block;
			width: 100%;
			margin-bottom: 20px;
			padding-right: 20px;
			.icon-product{  }
			.name-product{  font-size: 13px; text-transform: uppercase; font-weight: 900; margin: 20px 0 0 0; padding: 0;   }
			.resume-product{  line-height: 1; color: #888 ; font-size: 13px;}
			.box-icon-campaign{ 
				display: inline-block;
				float: left;
				padding: 20px 10px;
			}
		}

		
		.campaign-status-button{
			position: relative;
			float: right;
 			font-size: 16px;
			font-style:italic;
			text-transform: uppercase;
			padding: 5px 0;
			z-index: 1000;
			text-decoration: none;
			&:before{z-index: -1000; content: ""; width: 30px; height: 100%; position: absolute; left: -20px; top: 0; border-radius: 50% 0 0 50%;}
			&:after{ z-index: -1000; content: ""; width: 30px; height: 100%; position: absolute; right: -30px; top: 0; }
			.arrow{  z-index: -1000; content: ""; width: 15px; height: 15px; position: absolute; right: -35px; top: 20px;  border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #444}
		}

		.campaign-status-button-engage{
			background: $brand-primary; 
			color: #fff; 
			&:before{ background: $brand-primary;}
			&:after{background: $brand-primary;}

			&:hover{
				background: darken($brand-primary, 5%);
				&:before{ background: darken($brand-primary, 5%);}
				&:after{  background:  darken($brand-primary, 5%);}
			}

			&:active{
				background: darken($brand-primary, 30%);
				&:before{ background: darken($brand-primary, 30%);}
				&:after{  background:  darken($brand-primary, 30%);}
			}
		}
		.campaign-status-button-engaged{
			background: $gray-light; 
			color: #fff; 
			&:before{ background: $gray-light}
			&:after{background: $gray-light}
		}
 
		.button-more-campaign{}


			
	}




.button-center-line{
			text-align: center;
			font-size: 20px;
			padding: 10px 0px;
			display: block;
			width: 250px;
			border: 1px solid #ccc;
			border-radius: 25px;
			background: #fff;
			margin: 20px auto 40px auto;
			text-transform: uppercase;
			font-weight: 600;
			position: relative;

			&:hover{ 
				text-decoration: none;
				background: #eee;
			}

			&:active{ 
				background: #ddd;
			}

			

				/* Large desktops and laptops */
				@media (min-width: 1200px) {

							&:before{
								content: "";
								border: 1px solid #ccc;
								position: absolute;
								left: 0;
								width: 170%;
								top: 50%;
								margin-left: -440px;
								z-index: -1;
							}

							&:after{
								content: "";
								border: 1px solid #ccc;
								position: absolute;
								right: 0;
								width: 170%;
								top: 50%;
								margin-right: -440px;
								z-index: -1;
							}

				}

				/* Portrait tablets and medium desktops */
				@media (min-width: 992px) and (max-width: 1199px) {
					&:before{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							left: 0;
							width: 170%;
							top: 50%;
							margin-left: -440px;
							z-index: -1;
						}

						&:after{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							right: 0;
							width: 170%;
							top: 50%;
							margin-right: -440px;
							z-index: -1;
						}


				}

				/* Portrait tablets and small desktops */
				@media (min-width: 768px) and (max-width: 991px) {

					&:before{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							left: 0;
							width: 100%;
							top: 50%;
							margin-left: -250px;
							z-index: -1;
						}

						&:after{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							right: 0;
							width: 100%;
							top: 50%;
							margin-right: -250px;
							z-index: -1;
						}

				}

				/* Landscape phones and portrait tablets */
				@media (max-width: 767px) {

					&:before{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							left: 0;
							width: 50%;
							top: 50%;
							z-index: -1;
							margin-left: -50px;
						}

						&:after{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							right: 0;
							width: 50%;
							top: 50%;
							margin-right: -50px;
							z-index: -1;
						}

				}

				/* Landscape phones and smaller */
				@media (max-width: 480px) {

						&:before{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							left: 0;
							width: 100%;
							top: 50%;
							margin-left: -50px;
							z-index: -1;
						}

						&:after{
							content: "";
							border: 1px solid #ccc;
							position: absolute;
							right: 0;
							width: 100%;
							top: 50%;
							margin-right: -50px;
							z-index: -1;
						}

				}


		}
	

















/*'header-main
========================================== */
	.header-main{
		position: relative;
		background: #fff;
		width: 100%;
		display: inline-block;
		padding-bottom: 20px;
		margin-bottom: 30px;
		@include border-radius(0 0 15px 15px); 
		.container-brand{
			background: #fff;
			display: inline-block;
			margin-top: -50px;
			width: 100%;
			text-align: center;			
		}
		.brand{ 
			margin: 0 auto;
			padding: 30px 0;
			display: inline-block;

			span{width: 190px; height: 73px}
		}
	}



.container-main-menu{
	position: relative;
  	.button-campanhas-sponge{
   			position: relative;
			float: right;
 			font-size: 18px;
			font-style:italic;
			text-transform: uppercase;
			z-index: 1000;
			text-decoration: none;
			padding: 10px 20px 10px 0;
			margin-top: -5px;
			font-weight: 100;
			&:before{z-index: -1000; content: ""; width: 40px; height: 100%; position: absolute; left: -20px; top: 0; border-radius: 50% 0 0 50%;}
			&:after{ z-index: -1000; content: ""; width: 10px; height: 100%; position: absolute; right: -10px; top: 0; }
			.arrow{  z-index: -1000; content: ""; width: 15px; height: 15px; position: absolute; right: -35px; top: 20px;  border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #444}
		}

		.button-campanhas-sponge-default{
			background: $brand-default;
			color: #fff; 
			&:before{ background: $brand-default;}
			&:after{  background: $brand-default;}

			&:hover{
				background: darken($brand-default, 5%);
				&:before{ background: darken($brand-default, 5%);}
				&:after{  background:  darken($brand-default, 5%);}
			}

			&:active{
				background: darken($brand-default, 30%);
				&:before{ background: darken($brand-default, 30%);}
				&:after{  background:  darken($brand-default, 30%);}
			}
		}




  	.main-menu{
		display: inline-block; 
		list-style: none;
		li{ 
			display: inline-block;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
			border-right: 1px solid $brand-primary;

			&:last-child{ border-right: 0}

			a{
				display: block;
				padding: 5px 20px;
 
				&:hover{
				 text-decoration: none;
				 background: $brand-light;
 				}
			}
		}

		&.main-menu-one-item{
			float: left;
		}
	}

}



	









////Sidebar interno /////////////


.sidebar-interno {
margin-top: 40px;
}









////PAGINA DE CONTATO /////////////


.page-contact{}
.form-contato { 
	font-weight: 100;
padding: 50px;
display: inline-block;
width: 100%;
}



form{
	legend{ 
		margin-top: 0px; 
		float: left;
		color: $brand-medium;
		font-weight: 500;
		font-size: 16px;
		border-color: #ccc;
	}

	label{ font-weight: 100}
}

fieldset{ margin-bottom: 30px;}

.submit-form{padding: 5px 40px;}


.mask-form-button{
	display: inline-block;
	background: #DFDFD0;
	width: 100%;
	padding: 5px 15px;
	@include border-radius(0 20px 20px 10px);
 }
